.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    padding: 0 20px;
}
.navbar__left{
    margin-right: auto;
}
.navbar__right{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar__right h3{
    margin: 0 20px;
}